{% extends "base.html" %}

{% block content %}

<div class="container text-center mt-5 mb-5">
    <h1 class="display-4 text-light">About Nodit</h1>

    <p class="lead text-light mt-3">
        Welcome to <strong>Nodit</strong>,a modern online forum and community where discussions thrive and content gets
        the recognition it deserves. <strong>Nodit</strong> gives <strong>Nods</strong> power, unlike any other
        platform.
    </p>

    <p class="lead text-light mt-3">
        Our creative system allows users to <strong>nod</strong> content they like instead of traditional upvotes.
        Your posts and comments becomes easier to spot the more <strong>nods</strong> they gain.
    </p>

    <p class="lead text-light mt-3">

        It's simple: <strong>good content</strong> gets attention, <strong>deep</strong> chats get more widely known.
        Your contributions
        have the chance
        to shine, whether you're asking questions, sharing insights, or just having fun!
    </p>

    <p class="mt-4 text-light">
        Join us today, explore diverse discussions, and start <strong>nodding</strong> your way to the top.
    </p>
</div>

{% endblock %}
