{% extends "base.html" %}

{% block content %}

{% for errors in form.errors.values() %}
{% for error in errors %}
<div class="alert alert-warning">
    * {{ error }}
</div>
{% endfor %}
{% endfor %}

<div class="comment-form mt-4">
   <div class="d-flex w-50 flex-column mx-auto">
   {% if current_user.is_authenticated %}
      <form method="POST" action="/thread/{{ post.threadID }}/post/{{ post.postID }}/comment"
              enctype="multipart/form-data">
         {{ form.hidden_tag() }}

         <h5> {{ form.text.label }} </h5>
         {{ form.text(class="form-control", placeholder="Write your comment here...") }}

         <h5> {{ form.img.label }} </h5>
         {{ form.img(class="form-control", placeholder="Upload image content...") }}

         {{ form.submit(class="btn btn-primary w-100") }}
      </form>
   {% else %}
        <p class="text-center text-light">You must be logged in to comment.</p>
   {% endif %}
   </div>
</div>

{% endblock %}
