{% extends "base.html" %}

{% block content %}

{% for errors in form.errors.values() %}
{% for error in errors %}
<div class="alert alert-warning">
    * {{ error }}
</div>
{% endfor %}
{% endfor %}

<div class="comment-form mt-4">
   {% if current_user.is_authenticated %}
   <h5 class="text-light">Add a Comment</h5>
   <div class="d-flex w-50 flex-column mx-auto">
      <form method="POST" action="/thread/{{ post.threadID }}/post/{{ post.postID }}/comment"
              enctype="multipart/form-data">
         {{ form.hidden_tag() }}

         {{ form.text.label()
         {{ form.text(class="form-control", placeholder="Write your comment here...") }}
         
         {{ form.img(class="form-control", placeholder="Upload image content...") }}
      </form>
        {% else %}
        <p class="text-center text-light">You must be logged in to comment.</p>
        {% endif %}
    </div>

{% endblock %}
