{% extends "base.html" %}

{% block content %}

{% for errors in form.errors.values() %}
{% for error in errors %}
<div class="alert alert-warning">
    * {{ error }}
</div>
{% endfor %}
{% endfor %}


<form method="POST" enctype="multipart/form-data">

    <div class="d-flex w-50 flex-column mx-auto">

        {{ form.hidden_tag() }}


        {{ form.username.label }}
        {{ form.username(class="form-control mb-2", placeholder="Enter username") }}

        {{ form.birthday.label}}
        {{ form.birthday(class="form-control mb-2") }}

        {{ form.gender.label }}
        {{ form.gender(class="mb-2") }}

        {{ form.country.label }}
        {{ form.country(class="form-select mb-2") }}

        {{ form.pfp.label }}
        {{ form.pfp(class="form-control mb-2", accept=".jpg,.png,.jpeg") }}

        {{ form.submit(class="mt-5 btn btn-outline-light") }}


    </div>

</form>

{% endblock %}