{% extends "base.html" %}

{% block content %}

{% for errors in form.errors.values() %}
{% for error in errors %}
<div class="alert alert-warning">
    * {{ error }}
</div>
{% endfor %}
{% endfor %}


<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.FeedbackTitle.label(class="form-label") }}
        {{ form.FeedbackTitle(class="form-control", placeholder="Enter title...") }}
    </div>

    <div class="mb-3">
        {{ form.FeedbackType.label(class="form-label") }}
        {{ form.FeedbackType(class="form-select", id="feedbackType", placeholder="Pick a feedback type...") }}
    </div>

    <div id="bugFields" style="display: none;">
        <div class="mb-3">
            {{ form.BugDescription.label(class="form-label") }}
            {{ form.BugDescription(class="form-control", placeholder="Type the bug description...") }}
        </div>
        <div class="mb-3">
            {{ form.Images.label(class="form-label") }}
            {{ form.Images(class="form-control", placeholder="Upload images and/or videos") }}
        </div>
    </div>

    <div id="feedbackFields" style="display: none;">
        <div class="mb-3">
            {{ form.FeedbackDescription.label(class="form-label") }}
            {{ form.FeedbackDescription(class="form-control", placeholder="Enter feedback description...") }}
        </div>
    </div>

    <div class="mb-3">
        {{ form.Notes.label(class="form-label") }}
        {{ form.Notes(class="form-control", placeholder="Leave a note... (optional)") }}
    </div>

      {{ form.submit(class="btn btn-outline-light") }}
      
</form>

<script>
    const typeSelect = document.getElementById("feedbackType");
    const bugFields = document.getElementById("bugFields");
    const feedbackFields = document.getElementById("feedbackFields");

    function updateFields() {
        const type = typeSelect.value;
        bugFields.style.display = type === "bugreport" ? "block" : "none";
        feedbackFields.style.display = type === "feedback" ? "block" : "none";
    }


    document.addEventListener("DOMContentLoaded", updateFields);

    typeSelect.addEventListener("change", updateFields);
</script>


{% endblock %}
