{% extends "base.html" %}

{% block content %}

<div class="container text-center">

    {% if current_user.role == "Admin" %}
    <div class="mb-4">
        <a class="btn btn-outline-violet" href="/create_thread">
            <h3 class="m-0">[ADMIN ONLY] Create Thread</h3>
        </a>
    </div>
    {% endif %}

    <div class="d-flex flex-column align-items-center">
        {% for thread in threads %}
        <div class="thread-box border rounded p-3 mb-4" style="max-width: 600px; width: 100%;">
            <a href="/thread/{{ thread.threadID }}" class="text-reset text-decoration-none">
                <h3 class="m-0">{{ thread.title }}</h3>
            </a>
            <p class="mt-2 mb-0">by {{ thread.creator.username }} on {{ thread.date.strftime('%b %d, %Y') }}</p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
