{% extends "base.html" %}

{% block content %}

{% for errors in form.errors.values() %}
{% for error in errors %}
<div class="alert alert-warning">
    * {{ error }}
</div>
{% endfor %}
{% endfor %}


<form method="POST">

    <div class="d-flex w-50 flex-column mx-auto">

        {{ form.hidden_tag() }}


        {{ form.username.label }}
        {{ form.username(class="form-control mb-2", placeholder="Enter username") }}

        {{ form.password.label }}
        {{ form.password(class="form-control mb-2", placeholder="Enter password") }}

        <div class="row mt-3">
            <div class="col">
                <p>Not registered?</p>
                <a href="/register">Click here to create an account</a>
            </div>
        </div>
        {{ form.submit(class="mt-5 btn btn-outline-light") }}


    </div>

</form>

{% endblock %}